<h1>Newsfeed</h1>

<% @articles.each do |article| %>
<%= link_to(article[:url]) do  %>
  <%= article[:title]%>
  <% end %>
<br>


  <%= link_to 'Join the Conversation', allcomments_path(article[:id]) %>
<br><br>
<% end %>
