
<div class="newsfeedtitle">
<div class="newsheader">
<h1>Newsfeed</h1>
</div>
</div>


<% @articles.each do |article| %>
<div class= "container-fluid">
<div class="conversationblock">
<%= link_to(article[:url]) do  %>
  <%= article[:title]%>
  <% end %>
<br>
  <%= link_to 'Join the Conversation', allcomments_path(article[:id]) %>
    </div>
<p class='countdown'>
 <span class='time_left'><%= article.time_remaining %></span>
</p>
</div>
<% end %>
