<h1>Newsfeed</h1>

<% @articles.each do |article| %>
<%= link_to(article[:url]) do  %>
  <%= article[:title]%>
  <% end %>
<br>
  <%= link_to 'Join the Conversation', allcomments_path(article[:id]) %>
<p>
Time Remaining: <span class='time_left'><%= article.time_remaining %></span>
</p>
<br><br>
<% end %>
