<h1>Newsfeed</h1>

<% @articles.each do |article| %>
<%= link_to(article[:url]) do  %>
  <%= article[:title]%>
  <% end %>
<br>
  <%= link_to 'Join the Conversation', allcomments_path(article[:id]) %>

<div id="clockdiv">
<div>
  <span class="hours"></span>
  <div class="smalltext">Hours</div>
</div>
<div>
  <span class="minutes"></span>
  <div class="smalltext">Minutes</div>
</div>
<div>
  <span class="seconds"></span>
  <div class="smalltext">Seconds</div>
</div>
</div>
<br><br>
<% end %>
