
  <h2>Leanings</h2>

<p>
Political View:
<br>
<%= @user.political_spectrum %>
</p>
<p>
Personal Hero:
<br>
<%= @user.personal_hero %>
</p>
<p>
Type:
<br>
<%= @user.personality %>
</p>

<% if @user.personality == "Rogue" %>
    <img src="/rogue.png" width="60px" height="60px">
  <% elsif @user.personality == "Vigilante" %>
      <img src="/vigilante.png" width="60px" height="60px">
  <% elsif @user.personality == "Academic" %>
      <img src="/academic.png" width="60px" height="60px">
  <% elsif @user.personality == "Philosopher" %>
      <img src="/philosopher.png" width="60px" height="60px">
  <% elsif @user.personality == "Diplomat" %>
      <img src="/diplomat.png" width="60px" height="60px">
<% end %>
