

<div class="newsfeedtitle">
<div class="newsheader">
<h1><strong>Leaderboard: Top 20</strong></h1>
</div>
</div>


<% @users.each do |user| %>
  <div class="leaderboardslot">
  <p>
    <%= link_to user_path(user.id) do %>
    User: <strong><%= user.username %></strong> <% if user.personality == "Rogue" %>
        <img src="/rogue.png" width="25px" height="25px">
      <% elsif user.personality == "Vigilante" %>
          <img src="/vigilante.png" width="25px" height="25px">
      <% elsif user.personality == "Academic" %>
          <img src="/academic.png" width="25px" height="25px">
      <% elsif user.personality == "Philosopher" %>
          <img src="/philosopher.png" width="25px" height="25px">
      <% elsif user.personality == "Diplomat" %>
          <img src="/diplomat.png" width="25px" height="25px">
    <% end %>
    <% end %><br>
    Total Wins: <strong><%= user.total_wins %></strong>

  </p>
  </div>
<% end %>
